# Count Python normally
*.py linguist-language=Python

# Count HTML normally
*.html linguist-language=HTML

# Count CSS normally
*.css linguist-language=CSS

# Optional JS
*.js linguist-language=JavaScript
